@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}


.text-shadow-drop-center {
  -webkit-animation: text-shadow-drop-center 0.6s both;
  animation: text-shadow-drop-center 0.6s both;
}

.text-muted {
  color: var(--muted-color);
}
